body{
    margin: 0;
    background-color:#F6F7F8;
    padding: 60px;
    font-family: sans-serif;
}

.top{
    display: flex;
    justify-content: space-between;
}

#headline{
    font-weight: 700;
    display: inline-block;
    position: relative;
}

#headline::after{
    content:'';
    height:2px;
    width: 88px;;
    background:#29ABE2;
    position:absolute;
    left: 4px;
    bottom:-8px;
  }

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 493px;
    background-color: white;
    border-radius: 30px;
    gap: 32px;
    margin:auto;
}

.btnBlue{
    background-color: #2A3647;
    color: white;
    border-radius: 3px;
    border-width: 0px;
    padding: 8px;
}

.btnWhite{
    background-color: white;
    border: solid 1px #2A3647;
    border-radius: 3px;
    padding: 8px;
}

.email{
    background: url(../assets/img/letter.svg) no-repeat scroll 260px 7px;
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
}

.password{
    background: url(../assets/img/passwordLock.svg) no-repeat scroll 264px 4px;
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
}

.check{
    justify-content: flex-start;
}

.greyAnker{
    color: #A8A8A8;
    text-decoration: none;
}

.links{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    gap: 32px;
}

.signUp{
    display: flex;
    align-items: center;
    gap:32px;
    height: 24px;
}
