body{
    margin: 0;
    background-color:#F6F7F8;
    /* padding: 60px; */
    font-family: sans-serif;
}

.top{
    display: flex;
    justify-content: space-between;
}

#headline{
    font-weight: 700;
    display: inline-block;
    position: relative;
}

#headline::after{
  content:'';
  height:2px;
  width: 80px;;
  background:#29ABE2;
  position:absolute;
  left: 20px;
  bottom:-8px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 493px;
    background-color: white;
    border-radius: 30px;
    gap: 32px;
    margin:auto;
}

.arrowLeft{
    position: relative;
    top: 96px;
    left: -176px;
    cursor: pointer;
}

.btnBlue{
    background-color: #2A3647;
    color: white;
    border-radius: 3px;
    border-width: 0px;
    padding: 8px;
}

.btnWhite{
    background-color: white;
    border: solid 1px #2A3647;
    border-radius: 3px;
    padding: 8px;
}

.user{
    background: url(../assets/img/personIcon.svg) no-repeat scroll 262px 7px;
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
}

.email{
    background: url(../assets/img/letter.svg) no-repeat scroll 260px 7px;
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
}

.password-input{
    /* background: url(../assets/img/passwordLock.svg) no-repeat scroll 264px 4px; */
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
}

.check{
    justify-content: flex-start;
}

.greyAnker{
    color: #A8A8A8;
    text-decoration: none;
}

.labelAccept{
    color: #d1d1d1;
}

.ankerBabyblue{
    color: #29ABE2;
    text-decoration: none;
}

.links{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    gap: 32px;
}

.sign{
    height: 80px;
    width: auto;
}

.flyer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    animation: fly 500ms ease 1;
    position: fixed;
    top: 50vh;
  
    z-index: 999;
}

@keyframes fly{
    0%{
       transform: translate(0,150vh);
    }
}

.d-none{
    display: none;
}

#eyeOff{
    position: relative;
    left: -42px;
    top: 6px;
    cursor: pointer;
}

#eyeOpen{
    position: relative;
    left: -42px;
    top: 3px;
    cursor: pointer;
}

#lock{
    position: relative;
    left: -40px;
    top: 7px;
    cursor: pointer;
}

#eyesOff{
    position: relative;
    left: 262px;
    top: -50px;
    cursor: pointer;
}

#eyesOpen{
    position: relative;
    left: 262px;
    top: -50px;
    cursor: pointer;
}

#locks {
    position: relative;
    left: 262px;
    top: -50px;
    cursor: pointer;
}

input[type="password"]{
    border:2px solid #29ABE2;
}

p{
    font-size: 14px;
    display: inline-block;
    color: white;
}