body{
    margin: 0;
    background-color:#F6F7F8;
    padding: 60px;
    font-family: sans-serif;
}

.top{
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    animation: fade-in 1s ease 1s forwards;
}

.policy{
    opacity: 0;
    animation: fade-in 1s ease 1s forwards;
}

#privat:hover{
    color:#29ABE2;
    font-weight: bold;
}

.legal{
    opacity: 0;
    animation: fade-in 1s ease 1s forwards;
}

#legal:hover{
    color:#29ABE2;
    font-weight: bold;
}

#headline{
    font-weight: bolder;
    display: inline-block;
    position: relative;
}

#headline::after{
    content:'';
    height:2px;
    width: 88px;;
    background:#29ABE2;
    position:absolute;
    left: 4px;
    bottom:-8px;
  }

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 652px;
    height: 493px;
    background-color: white;
    border-radius: 30px;
    gap: 32px;
    margin:auto;
    opacity: 0;
    animation: fade-in 1s ease 1s forwards;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btnBlue{
    background-color: #2A3647;
    color: white;
    border-radius: 3px;
    border-width: 0px;
    padding: 8px;
    font-weight: bold;
}

.btnBlue:hover{
    background-color: #29ABE2;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.btnWhite{
    background-color: white;
    border: solid 1px #2A3647;
    border-radius: 3px;
    padding: 8px;
    font-weight: bold;
}

.btnWhite:hover{
    color: #29ABE2;
    border:#29ABE2 solid 2px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

.email{
    background: url(../assets/img/letter.svg) no-repeat scroll 260px 7px;
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
    outline: none;
}

.password-input{
    /* background: url(../assets/img/passwordLock.svg) no-repeat scroll 264px 4px; */
    margin-bottom: 20px;
    border: solid 1px #d1d1d1;
    border-radius: 5px;
    padding: 8px;
    width: 280px;
    outline: none;
}

#lock{
        position: relative;
        left: -40px;
        top: 7px;
}


.check{
    justify-content: flex-start;
}

#checkboxOff{
    cursor: pointer;
}

#checkboxOn{
    cursor: pointer;
}

.greyAnker{
    color: #A8A8A8;
    text-decoration: none;
}

.links{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    gap: 32px;
}

.signUp{
    display: flex;
    align-items: center;
    gap:32px;
    height: 24px;
}

.wholeSite{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 1s ease;
    transition-delay: 1s;
}

.wholeSiteStart{
    position: absolute;
    top: 80px;
    left: 77px;
    height: 122px;
    width: 100px;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.logoBig{
    height: 200px;
    width: auto;
   transition: all 1s ease;
   transition-delay: 1s;
}

.logoBigStart{
    height: 122px;
    width: 100px;
}

.d-none{
    display: none;
}

#eyeOff{
    position: relative;
    left: -42px;
    top: 6px;
    cursor: pointer;
}

#eyeOpen{
    position: relative;
    left: -42px;
    top: 3px;
    cursor: pointer;
}

.redBorder{
    outline: none;
    border:2px solid red;
}

#loginBtn{
    cursor: pointer;
}

#guestLoginBtn{
    cursor: pointer;
}

#signUpLinkBtn{
    cursor: pointer; 
}

