.privacy_policy_container{
    padding-left: 328px; 
    padding-top: 206px;
    background-color: #F6F7F8;
    }
    h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    color: black;
    }
    h2{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        color: black; 
    }
    p{
        font-size: 16px;
        font-weight: 400;
        font-family: "Inter", sans-serif;
        margin-block-start: 0em;
        margin-block-end: 0em;
        
    }
    li{
            font-size: 16px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
    }
    h3{
        font-size: 16px;
            font-weight: 400;
            font-family: "Inter", sans-serif;
            color: black;
            margin-block-start: 0em;
        margin-block-end: 0em;
    }
    .arrow_img{
        width: 37px;
        height: 37px;
        position: absolute;
        top:225px;
        right: 200px;
        cursor: pointer;
        border-radius: 100%;
    }

.arrow_img:hover{
    background-color: lightgray;
}