body {
    margin: 0;
    font-size: 24px;
    background-color: #f6f7f8;
}

.main_container {
    margin-left: 300px;
    margin-top: 130px;
    display: flex;
    flex-direction: column;

    /* border: 1px solid black; */
}

.include_mobile_menu{
    display: none;
}

@media (max-width: 970px) {
    .include_sidebar{
        display: none;
    }
    .main_container{
        margin-left: 10px;
        /* justify-content: center; */
        align-items: center;
    }
    .include_mobile_menu{
        display: block;
    }
}