body{
    margin: 0;
    font-size: 24px;
    background-color: #f6f7f8;
}

.main_container{
    margin-left: 10px;
    margin-right: 200px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}

.include_mobile_menu{
    display: none;
}

@media(max-width:1700px){
    .main_container {
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 200px;
        display: flex;
        flex-direction: column;
    }
}

@media(max-width:1440px){
    .main_container{
        margin-left:100px;
    }
}

@media(max-width:1400px){
    .main_container{
        margin-left:10px;
        margin-top: 130px;
    }
}

@media(max-width:430px){
    .main_container{
        margin-left: 0px;
        margin-top: 110px;
    }
    .add_task_container h2{
        font-size: 47px;
    }

}