body {
    margin: 0;
    font-size: 24px;
    background-color: #f6f7f8;
}

.main_container {
    margin-left: 328px;
    margin-top: 208px;
    display: flex;
    flex-direction: column;

    /* border: 1px solid black; */
}