.help_container{
margin-left: 250px; /* Same as the width of the sidebar */
margin-top: 120px;
  padding: 0px 10px;
}
h1{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 120%;
color: #000000;
}