.test_button {
    margin-top: 150px;
    margin-left: 500px;
    height: 48px;
    border-radius: 10px;
    cursor: pointer;
}

.add_task_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.2);

}

.add_task_overlay_inner {
    background-color: #ffffff;
    margin-left: 162px;
    margin-top: 77px;
    max-width: 1116px;
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}




.d-none {
    display: none;
}