<header>
        <span class="header_text">Kanban Project Management Tool</span>
        <img class="mobile_img_header" src="/assets/img/favicon.png" alt="">
        <div class="initial_container">
            <span onclick="toggleNavMenu()" class="initial_text" id="activeUserInitial"></span>
            

        </div>
</header>

<div id="navMenu" class="nav_container">
    <a class="nav_link" href="/legal_notice/legal_notice_external.html">Legal Notice</a>
    <a class="nav_link" href="/privacy_policy/privacy_policy_external.html">Privacy Policy</a>

    <a class="nav_link" onclick="backToLogin()" href="#">Log out</a>
</div>   

