<header>
        <span class="header_text">Kanban Project Management Tool</span>
        <div class="initial_container">
            <a href="/help/help.html"><img class="help_img" src="/assets/img/help.svg" alt=""></a>
            <span onclick="toggleNavMenu()" class="initial_text" id="activeUserInitial">MS</span>
        </div>
</header>
<div id="navMenu" class="nav_container">
    <a class="nav_link" href="/help/help.html">Help</a>
    <a class="nav_link" href="/legal_notice/legal_notice.html">Legal Notice</a>
    <a class="nav_link"href="/privacy_policy/privacy_policy.html">Privacy Policy</a>
    <a class="nav_link" href="/login/login.html">Log out</a>
</div>

