<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="templates.css">
    <link rel="stylesheet" href="/assets/templates/task_form.css">
    <link rel="stylesheet" href="/board/board.css">
    <link rel="stylesheet" href="/contacts/contacts.css">
    <script src="/dummyData.js"></script>
    <script src="/assets/templates/add_task.js"></script>
    <script src="template_script.js"></script>
    <script src="/board/board.js"></script> 
    <script src="/contacts/contacts.js"></script>


</head>
<body>
    <header class="mobile_header">
       
        <span  class="mobile_user" onclick="toggleNavMenu()" class="initial_text">MS</span>
    </header>
    <div>
        <div class="link_container_mobile">
            <a class="link_mobile" href="/summary/summary.html">
                <img class="icon_img" src="/assets/img/Summary.svg"  alt="">
                <p class="text_mobile">Summary</p>
            </a>
            <a class="link_mobile" href="/assets/templates/task_form.html">
                <img class="icon_img"src="/assets/img/Addtask.svg" alt="">
                <p class="text_mobile">Add Task</p>
            </a>
            <a class="link_mobile" href="/board/board.html">
                <img class="icon_img" src="/assets/img/Board.svg" alt="">
                <p class="text_mobile">Board</p>
            </a>
            <a class="link_mobile" href="/contacts/contacts.html">
                <img class="icon_img" src="/assets/img/Contacts.svg" alt="">
                <p class="text_mobile">Contacts</p>
            </a>
        </div>
    </div>
    <div id="navMenu" class="nav_container">
        <a class="nav_link" href="/help/help.html">Help</a>
        <a class="nav_link" href="/legal_notice/legal_notice.html">Legal Notice</a>
        <a class="nav_link"href="/privacy_policy/privacy_policy.html">Privacy Policy</a>
        <a class="nav_link" href="/login/login.html">Log out</a>
    </div>
</body>
</html>