<div class="side_container">
        <img class="logo_img" src="/assets/img/Joinlogo.svg" alt="">
        <div class="link_container">
            <a class="link" href="summary.html">
                <img class="icon_img" src="/assets/img/Summary.svg"  alt="">
                <p class="text">Summary</p>
            </a>
            <a class="link" href="add_task.html">
                <img class="icon_img"src="/assets/img/Addtask.svg" alt="">
                <p class="text">Add Task</p>
            </a>
            <a class="link" href="board.html">
                <img class="icon_img" src="/assets/img/Board.svg" alt="">
                <p class="text flex_start">Board</p>
            </a>
            <a class="link" href="contacts.html">
                <img class="icon_img" src="/assets/img/Contacts.svg" alt="">
                <p class="text">Contacts</p>
            </a>
        </div>
        <div class="policy_container">
            <a class="policy_link" href="/privicy_policy/privacy_policy.html"target="_blank"><p class="policy_text">Privacy Policy</p></a>
            <a class="policy_link" href="/legal_notice/legal_notice.html"target="_blank"><p class="policy_text">Legal Notice</p></a>
        </div>
</div>

