<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="templates.css">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
</head>
<body>
    <header>
        <span class="header_text">Kanban Project Management Tool</span>
        <div class="initial_container">
            <img class="help_img" src="./img/help.svg" alt="">
            <span class="initial_text">MS</span>
        </div>
       </header>
    <div class="side_container">
        <img class="logo_img" src="./img/Joinlogo.svg" alt="">
        <div class="link_container">
            <a class="link" href="summary.html">
                <img class="icon_img" src="./img/Summary.svg" alt="">
                <p class="text">Summary</p>
            </a>
            <a class="link" href="add_task.html">
                <img class="icon_img"src="./img/Addtask.svg" alt="">
                <p class="text">Add Task</p>
            </a>
            <a class="link" href="board.html">
                <img class="icon_img" src="./img/Board.svg" alt="">
                <p class="text">Board</p>
            </a>
            <a class="link" href="contacts.html">
                <img class="icon_img" src="./img/Contacts.svg" alt="">
                <p class="text">Contacts</p>
            </a>
        </div>
        <div class="policy_container">
            <a class="policy_link" href="#"><p class="policy_text">Privacy Policy</p></a>
            <a class="policy_link" href="#"><p class="policy_text">Legal Notice</p></a>
        </div>
    </div>
<!-- </body>
</html> -->