<div class="side_container">
        <img class="logo_img" src="/assets/img/Joinlogo.svg" alt="">
        <!-- <div class="link_container">
            <a class="link " id="summary"href="/summary/summary.html">
                <img class="icon_img" src="/assets/img/Summary.svg"  alt="">
                <p class="text">Summary</p>
            </a>
            <a class="link" id="addTask" href="/add_task/add_task.html">
                <img class="icon_img"src="/assets/img/Addtask.svg" alt="">
                <p class="text">Add Task</p>
            </a>
            <a class="link" id="board" href="/board/board.html">
                <img class="icon_img" src="/assets/img/Board.svg" alt="">
                <p class="text flex_start">Board</p>
            </a>
            <a class="link" id="contacts" href="/contacts/contacts.html">
                <img class="icon_img" src="/assets/img/Contacts.svg" alt="">
                <p class="text">Contacts</p>
            </a>
        </div> -->
        <div class="policy_container">
            <a class="policy_link" href="/privacy_policy/privacy_policy_external.html"><p class="policy_text">Privacy Policy</p></a>
            <a class="policy_link" href="/legal_notice/legal_notice.html"><p class="policy_text">Legal Notice</p></a>
        </div>
</div>

