/* Template */
.add_task_container h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin-block: 6px;
}

.add_task_container p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.form_container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}


.form_container form {
    display: flex;
    flex-direction: column;
    /* max-width: 1024px; */
}

.form_inner {
    margin-top: 40px;
    display: flex;

    /* border: 1px solid red; */
}

.form_inner label {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.input_styles {
    margin-top: 8px;
    width: 430px;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Inter";
    border-color: rgb(0, 0, 0, 0.2);
    padding-left: 10px;
    margin-bottom: 24px;
}

.input_styles::placeholder {
    color: lightgray;
}

/* --------- Left Container --------- */
.form_left {
    height: 376px;
}

#taskTitle {
    height: 48px;
}

/* Textarea */
#TaskDiscription {
    height: 110px;
    padding-top: 10px;
}

.separator {
    height: 424px;
    margin-left: 24px;
    margin-right: 24px;
    border: 1px solid rgb(225, 225, 225);
}

/* select */
#assignedTo,
#category {
    width: 444px;
    height: 48px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('/assets/img/arrow_drop_down.svg') no-repeat right;
    background-size: 7.2px 4.6px;
    background-color: white;
    background-position: 420px;
}

#assignedTo{
    margin-bottom: 0;
}

/* ---------- Right Container --------- */
.form_right {
    height: 416px;
    width: 440px;
    margin-bottom: 138px;

    /* border: 1px solid black; */
}

#dueDate {
    width: 430px !important;
}

.prio_buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 24px;
}

.prio_buttons button {
    height: 56px;
    width: 136px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    box-shadow: 0 0 6px -4px;
}

.clear_btn,
.create_btn {
    padding-inline: 16px;
}

.prio_btn_2 {
    background-color: #ffa800 !important;
    color: white;
}

#dueDate[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

#dueDate[type="date"] {
    width: 430px !important;
    height: 48px !important;
    background-image: url('/assets/img/event_calendar.svg');
    background-repeat: no-repeat;
    background-position: 410px center;

}

#category {
    width: 444px;
    height: 48px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('/assets/img/arrow_drop_down.svg') no-repeat right;
    background-size: 7.2px 4.6px;
    background-color: white;
    background-position: 420px;
}

#subtasks {
    width: 444px;
    height: 48px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('/assets/img/add.svg') no-repeat right;
    background-size: 14px 14px;
    background-color: white;
    background-position: 416px;
}

.form_buttons {
    align-self: end;
}

.form_buttons button {
    height: 56px;
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
}

.clear_btn {
    background-color: #f6f7f8 !important;
    border: 1px solid #2a3647 !important;
    color: #2a3647;
    margin-right: 16px;
}

.create_btn {
    background-color: #2a3647;
    color: #ffffff;
}