<div class="add_task_container">
    <h2>Add Task</h2>
    <div class="form_container">
        <div class="form_inner">
            <div class="form_left">
                <div class="title_container">
                    <label for="taskTitle">Title<span style="color: #ffa800;">*</span></label><br>
                    <input class="input_styles" type="text" id="taskTitle" placeholder="Enter a title" required><br>
                    <p class="error_message">This field is required</p>
                </div>
                <div class="discripton_container">
                    <label for="TaskDiscription">Discription</label><br>
                    <textarea class="input_styles" name="" id="taskDiscription"
                        placeholder="Enter a Discription"></textarea><br>
                </div>
                <div class="dropdown_container">
                    <label for="assignedTo">Assigned to</label><br>
                    <div class="dropdown">
                        <div class="input_styles" id="assignedTo" onclick="showAssignablContacts(), doNotClose(event)">
                            Select contacts to assign
                            <img id="assign_arrow_down" src="/assets/img/arrow_drop_down.svg" alt="">
                            <img id="assign_arrow_up" class="d-none" src="/assets/img/arrow_up_drop_down.svg" alt="">
                        </div>
                        <div class="contact_to_assign_container d-none" id="contact_to_assign_containerID"
                            onclick="doNotClose(event)">
                            <!-- render content -->
                        </div>
                    </div>
                    <div class="assign_contact_container" id="assignContactContainerID">
                        <!-- render content -->
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="form_right">
                <div class="form_buttons">
                    <label for="dueDate">Due date<span style="color: #ffa800;">*</span></label><br>
                    <input class="input_styles" type="date" id="dueDate" required><br>
                    <p class="error_message">This field is required</p>
                    <label>Prio</label><br>
                    <div class="prio_buttons">
                        <button type="button" class="prio_btn_1" id="urgentBtnID" onclick="setTaskPrio('urgent')">
                            Urgent <img src="/assets/img/prio_urgent.svg" alt="">
                        </button>
                        <button type="button" class="prio_btn_2" id="mediumBtnID" onclick="setTaskPrio('medium')">
                            Medium <img src="/assets/img/prio_medium.svg" alt="">
                        </button>
                        <button type="button" class="prio_btn_3" id="lowBtnID" onclick="setTaskPrio('low')">
                            Low <img src="/assets/img/prio_low.svg" alt="">
                        </button>
                    </div>
                    <label for="category">Category<span style="color: #ffa800;">*</span></label><br>
                    <select class="input_styles" id="category" required>
                        <option value="" selected disabled hidden>Select task category <img
                                src="/assets/img/event_calendar.svg" alt=""></option>
                        <option value="technikalTask">Technical Task</option>
                        <option value="userStory">User Story</option>
                    </select><br>
                    <p class="error_message">This field is required</p>
                    <label for="subtasks">Subtasks</label><br>
                    <div class="subtasks_container input_styles">
                        <!-- <input type="text" id="subtasks" onfocus="subtasksFucus()" onblur="subtasksNoFucus()"> -->
                        <input type="text" id="subtasks" onfocus="subtasksFucus()">
                        <img class="subtask_btn_add" id="subtaskBtnAddID" src="/assets/img/add.svg" alt="">
                        <div class="subtasks_create_buttons d-none" id="subtasksCreateButtonsID">
                            <img class="subtask_btn_close" src="/assets/img/close.svg" alt="" onclick="cancelNewSubtask()">
                            <div class="substask_seperator"></div>
                            <img class="subtask_btn_check" src="/assets/img/check.svg" alt="" onclick="addNewSubtask()">
                        </div>
                    </div>
                    <div id="allSubtasksID">
                        <!-- <div id="subtaskID" onmouseover="mouseoverStyleSubtaskInput()" onmouseout="mouseoutStyleSubtaskInput()">
                            <input type="text" id="inputSubtaskID" onfocus="onfocusStyleSubtaskInput()">
                            <div class="edit_buttons d-none" id="substaskEditButtonsID">
                                <img class="subtask_btn_edit" src="/assets/img/edit.svg" alt="">
                                <div class="substask_seperator"></div>
                                <img class="subtask_btn_delete" src="/assets/img/delete.svg" alt="">
                            </div>
                            <div class="edit_buttons d-none" id="substaskConfirmButtonsID">
                                <img class="subtask_btn_delete" src="/assets/img/delete.svg" alt="">
                                <div class="substask_seperator"></div>
                                <img class="subtask_btn_check" src="/assets/img/check.svg" alt="">
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="form_spacer"></div> -->
        <div class="form_bottom_container">
            <p><span style="color: #ffa800;">*</span>This field is required</p>
            <div class="form_buttons">
                <button type="button" class="clear_btn" onclick="clearTaskForm()">Clear <img src="/assets/img/close.svg"
                        alt=""></button>
                <button class="create_btn" onclick="addNewTask('ToDo')">Create Task <img
                        src="/assets/img/check_white.svg" alt=""></button>
            </div>
        </div>
    </div>
</div>