body{
    margin: 0;
}
.side_container{
    width: 232px;
    min-height: 100vh;
    background-color: #2A3647;
    padding: 64px 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.link_container{
    width: 232px;
    height: 229px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px
}
.link{
    text-decoration: none;
    color:#CDCDCD;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 232px;
    height: 46px;
    gap:20px;
}
.link:hover{
    background-color:#2E3D5A;
    /* background-color: rgb(9,25,49); */
    /* filter: brightness(150%); */
}
.logo_img{
    width: 100.03px;
    height: 121.97px;
}
.icon_img{
    width: 30px;
    height: 30px;
}
.text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 72px;
    height: 19px;
}
.flex_start{
    display: flex;
    justify-content: flex-start;
}
.policy_text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #A8A8A8;
    height: 19px;
    margin-block-start: 0;
    margin-block-end:0;
}
.policy_text:hover{
    color: #2AABE2;
font-weight: 700;
}
.policy_link{
    text-decoration: none;
    width: 110px;
    height: 35px;
    display: flex;
    align-items: center;
   
}
.policy_container{
    width: 232px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4px;  
}
.sidenavLinkActive {
    background-color: #091931;
    color: white !important;
}


header{
    height: 96px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:232px;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
}
.header_text{
font-family: "Inter", sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 24px;
width: 319px;
height: 24px;
padding-left: 80px;
}
.initial_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height:56px;
    width:104px;
    padding-right: 20px;
}
.initial_text:hover{
   background-color:  #0C2E621F ;
}
.initial_text{
width:56px;
height:56px;
display: flex;
justify-content: center;
align-items: center;
border: 3px solid #2A3647;
border-radius: 100%;
color: #29ABE2;
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 24px;
cursor: pointer;
}
.help_img{
    width: 28px;
    height: 28px;
    top:6px;
    left: 6px;
    cursor: pointer;
}
.help_img:hover{
    transform: scale(1.5);
}
.nav_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 204px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;
    background-color: #2A3647;
   position: fixed;
  top:99px;
  right:5px;
  z-index: 1;
  display: none;
}
.nav_link{
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 400;
text-decoration: none;
color: #A8A8A8; 
width: 120px;
height: 35px;
display: flex;
align-items: center;
padding: 8px 16px 8px 16px;
}
.nav_link:hover{
   background-color:#2E3D5A;
}
.nav_container.active{
    display: block;
}
.mobile_header{
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    right:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px #0000001A;
    padding: 20px 16px 20px 16px;
}
.mobile_user{
    width:40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid #2A3647;
    display: flex;
justify-content: center;
align-items: center;
}
.mobile_img_header{
    width: 32px;
    height: 40px;
    display: none;
    padding: 40px;
}
.link_container_mobile{
    height: 80px;
    width: 100%;
    background-color: #2A3647;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px 1px 8px 1px;
}
.link_mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 80px;
    padding: 8px 0 8px 0;
    gap:10px;
    text-decoration: none;
    color:#CDCDCD;
    text-align: center;
}
.text_mobile{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 72px;
    height: 19px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.link_mobile:hover{
    background-color:#2E3D5A;
}

@media(max-width:1400px){
    .side_container{
        width: 100%;
        background-color: #2A3647;
        position: fixed;
        z-index: 1;
        left: auto;
        bottom: 0;
        min-height: 80px;
        height: 80px;
        right: auto;
        top:auto;
        display: flex;
        justify-content: unset;
        align-items: center;
        padding: 0;
    }
    .flex_start{
        justify-content: center;
    }
    .help_img{
        display: none;
    }
    .link_container{
        display: flex;
       flex-direction: row;
       justify-content: space-evenly;
       align-items: center;
       width:100%;
    }
    .link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 80px;
    gap: 10px;
    text-decoration: none;
    color: #CDCDCD;
    text-align: center;
    }
    .text{
        margin: 0;
    }
    .logo_img{
        display: none;
    }
    .policy_container{
        display: none;
    }
    header{
        left:0;
    }
    .header_text{
        display: none;
    }
    .mobile_img_header{
        display: flex;
    }
}
        