@media (max-width: 1400px) {
    .contacts{
        left: 0px;
        top: 80px;
        height: 858px
    }
    .contact_layout{
        left: 512px
    }
    .contact{
        left: 512px
    }
    .btn_container{
        top: 80px;
    }
}

@media (max-width: 1100px) {
    .contacts{
        width: 400px;
    }
    .contact_layout{
        left: 430px
    }
    .contact{
        left: 430px
    }
    .btn_container{
        width: 389px;
    }
}

@media (max-width: 1000px) {
    .contact{
        display: none;
    }
    .contact_layout{
        top: 180px;
    }
    .contactResponsive{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .contact_info_onclick{
        margin-top: 40px;
    }
    .contact_headline{
        height: 70px;
    }
    .contact_info_onclick_title{
        gap: 25px;
        flex-direction: column;
    }
    .contact_info_onclick_edit_delete{
        width: auto;
        justify-content: center;
    }
    .contact_info_onclick_text{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 800px) {
    .contact_layout{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: initial;
        width: 100%;
        height: auto;
        margin-top: 96px;
    }
    .contacts{
        width: 100%;
        position: initial;
        height: 940px;
    }
    .btn_container{
        display: none;
    }
    .contact_list{
        margin: 0;
        align-items: start;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 80px;
        margin-top: 100px;
    }
    .divding_line_container{
        width: 100%;
    }
    .dividing_line_contacts{
        width: 100%;
    }
    .contact_dummy{
        width: 100%;
    }
    .contactResponsive{
        width: 470px;
    }
    #contact{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .contact_info_onclick{
        height: auto;
        justify-content: center;
        width: 470px;
    }
    .contact_info_onclick_title{
        flex-direction: unset;
        width: 100%;
    }
    .contact_info_onclick_name{
        text-align: left;
    }
    .responsive_contact_text{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .back_arrow{
        display: block;
        cursor: pointer;
        align-items: start;
    }
    .contact_headline{
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: start;
        width: 470px;
    }
    .contact_info_onclick_edit_delete{
        display: none;
    }
}

@media (max-width: 530px) {
    .contactResponsive{
        width: 95%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .contact_headline{
        height: 56px;
        font-size: 47px;
        font-weight: 700;
        line-height: 56.4px;
        width: 100%;
    }
    .contact_layout{
        height: auto !important;
        margin-top: 128px;
    }
    .contact_text{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
    .dividing_line_responsive{
        margin-top: 8px;
    }
    .responsive_contact_text{
        gap: 8px;
    }
    .contact_info_onclick{
        width: 95%;
    }
    .contact_info_onclick.show{
        margin-left: 0px;
    }
    .contact_info_onclick_profilebadge{
        width: 80px;
        height: 80px;
        font-size: 27px;
    }
    .contact_info_onclick_title{
        gap: 20px;
    }
    .contact_info_onclick_text{
        padding: 0;
        height: 24px;
    }
    .contact_info_onclick_name span {
        font-size: 36px;
        font-weight: 700;
    }
}