body {
    margin: 0;
    background-color: #F6F7F8;
    cursor: default;
    font-family: 'Inter';
}

.contacts{
    width: 456px;
    height: 920px; 
    position: fixed;
    top: 96px;
    left: 232px;
    background-color: white;
    box-shadow: 4px 0px 6px 0px #00000014;
    overflow: auto;
}

.contact_list{
    margin-top: 101px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter_a_layout{
    width: 90px;
    display: flex;
    justify-content: center;
}

.letter_b_layout{
    width: 90px;
    display: flex;
    justify-content: center;
}

.letter_a{
    width: 356px;
    height: 40px;
    display: flex;
    align-items: start;
}

.letter_b{
    width: 356px;
    height: 60px;
    display: flex;
    align-items: center;

}

.letter_a span{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.letter_b span{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.btn_container{
    width: 440px;
    height: 101px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 96px;
}

button{
    background-color: #2A3647;
    width: 352px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    padding: 12px 0px 12px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

button:hover{
    background-color: #29ABE2;
    border: #29ABE2;
    box-shadow: 0px 4px 4px 0px #00000040;

}

.btn_span{
    width: 175px;
    height: 25px;
}

.btn_span span{
    font-weight: 700;
    color: white;
    font-size: 21px;
    line-height: 25.2px;
}

.btn_img{
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_img img{
    width: 32px;
    height: 32px;
}

.contact{
    width: 569px;
    height: 73px;
    position: fixed;
    top: 206px;
    left: 743px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_layout{
    width: 569px;
    height: 465px;
    position: fixed;
    top: 206px;
    left: 743px;
    display: flex;
    flex-direction: column;
}

.contact_headline{
    width: 274px;
    height: 73px;
    font-weight: 700;
    font-size: 61px;
    line-height: 73.2px;
}

.dividing_line{
    height: 59px;
    border: 2px solid #29ABE2;
    border-radius: 3px;
}

.contact_text{
    width: 235px;
    height: 32px;
    font-weight: 400;
    font-size: 26px;
    line-height: 32.4px;
    color: #2A3647;
}

.divding_line_container{
    width: 352px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dividing_line_contacts{
    width: 352px;
    border: 1px solid #D1D1D1;
}

.contact_dummy_1{
    display: flex;
    align-items: center;
    width: 352px;
    height: 78px;
    cursor: pointer;
}

.contact_dummy_info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    width: 200px;
    height: 48px;
}

.contact_dummy_border{
    width: 42px;
    height: 42px;
    border-radius: 45px;
    background-color: #FF7A00;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14.4px;
    color: white;
}

.contact_dummy2_border{
    width: 42px;
    height: 42px;
    border-radius: 45px;
    background-color: #9327ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 14.4px;
    color: white;
}

.contact_dummy_border_layout{
    height: 78px;
    min-width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_dummy_info_layout{
    min-width: 262px;
    max-width: 262px;
    height: 78px;
    display: flex;
    align-items: center;
    margin-bottom: -4px;
}

.contact_info_onclick {
    margin-top: 100px;
    margin-left: calc(100vw - 461px);
    width: 461px;
    height: 364px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.contact_info_onclick {
    transition: margin-left 0.2s ease-in-out;
}

.contact_info_onclick.show {
    margin-left: 10px;
}

.contact_info_onclick_title{
    display: flex;
    align-items: center;
    width: 461px;
    height: 120px;
    gap: 54px;
}

.contact_info_onclick_profilebadge_layout{
    width: 120px;
    height: 120px;
}

.contact_info_onclick_profilebadge{
    width: 120px;
    height: 120px;
    border: 3px solid;
    border-radius: 70px;
    background-color: #FF7A00;
    border-color: white;
    box-shadow: 0px 0px 4px 0px #0000001A;
}

.contact_info_onclick_profilebadge{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
    text-align: center;
    color: white;
}

.contact_info_onclick_name_edit{
    width:287px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact_info_onclick_name span{
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    color: black
}

.contact_info_onclick_edit_delete{
    display: flex;
    width: 159px;
    height: 24px;
    gap: 13px
}

.contact_info_onclick_edit{
    width: 62px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.contact_info_onclick_edit img{
    height: 18.28px;
    width: 18.25px;
}

.contact_info_onclick_edit span{
    width: 30px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #2A3647;
}

.contact_info_onclick_edit:hover span {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #29ABE2;
}

.contact_info_onclick_delete{
    width: 81px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.contact_info_onclick_delete img{
    height: 16px;
    width: 18px;
}

.contact_info_onclick_delete span{
    width: 49px;
    height: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: #2A3647;
}

.contact_info_onclick_delete:hover span {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #29ABE2;
}

.contact_info_onclick_text{
    width: 207px;
    height: 74px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: black;
}

.contact_info_onclick_email_phone{
    width: 140px;
    height: 128px;
    display: flex;
    flex-direction: column;
    gap: 22px;   
}

.contact_info_onclick_email{
    width: 140px;
    height: 53px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact_info_onclick_phone{
    width: 124px;
    height: 53px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.email_text span{
    width: 43px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.email{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #007CEE;
}

.phone_text span{
    width: 50px;
    height: 19px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.phone{
    width: 124px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #007CEE;
}


.contact_dummy_name{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: black;
}

.contact_dummy_mail{
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #007CEE;
}

.contacts::-webkit-scrollbar {
    width: 8px;
}

.contacts::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.contacts::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Firefox scrollbar */
.contacts {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.clicked {
    background-color: #2A3647;
    border-radius: 10px;
}

.clicked .contact_dummy_border {
    border: 3px solid white;
    border-radius: 50%;
}

.clicked .contact_dummy2_border {
    border: 3px solid white;
    border-radius: 50%;
}

.clicked .contact_dummy_name {
    color: white;
}

.contact_dummy_1:hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    border-radius: 10px;
}

.clicked:hover {
    background: #2A3647;
}